

<div ng-include src="'../modules/header.html'"></div>

<div class="menu-form" name="form" role="form">
     <a href="#/appeal1"><img src="images/student_appeals1.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
     <p></p>
     <a href="#/appeal2"><img src="images/student_appeals2.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
     <p></p>
     <a href="#/appeal3"><img src="images/student_appeals3.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
     <p></p>
     <a href="#/appeal4"><img src="images/student_appeals4.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
     <p></p>
     <a href="#/appeal5"><img src="images/student_appeals5.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
     <p></p>
     <a href="#/appeal6"><img src="images/student_appeals6.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>

</div>
