
<div ng-include src="'../modules/header.html'" data-ng-init="get_data()"></div>

<form class="appeal-form" name="form" ng-submit="sendappeal()" role="form" c>
    <div class="special-padding">
    <img src="images/student_appeals3.jpg" style='height: 100%; width: 100%; object-fit: contain'/>
   </div>
     <div class="form-group">
       <br>
       <div class="row">
         <div class="col-md-10"> <label for="">Name and Surname: </label> {{data['firstname']}} {{data['lastname']}}</div>
       </div>
       <div class="row">
         <div class="col-md-6"> <label for="">Student ID Number: </label> {{data['id']}}</div>
       </div>
       <div class="row">
         <div class="col-md-10"> <label for="">Faculty/Program: </label> {{data['faculty']}}/{{data['department']}}</div>
       </div>
       <div class="row">
         <div class="col-md-12"> <label for="uni">Name of the university with courses offered / Name of the country: </label> <input type="text" class="form-control" id="uni" ng-model="data.university"></div>
       </div>

       <br>

       <div class="row">
         <div class="col-md-12"> <label for="">Name of the course(s) planned to attend (maximum 12 ECTS): </label> </div>
       </div>

       <div class="row">
         <div class="col-md-12"> <label for="">1. </label> </div>
       </div>

       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursecode1" ng-model="data.code" placeholder="Course code"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursecodeius1" ng-model="data.ius_code"placeholder="IUS Course code"></label> </div>
       </div>

       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursename1" ng-model="data.coursename"placeholder="Course name"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursenameius1" ng-model="data.ius_coursename"placeholder="IUS Course name"></label> </div>
       </div>

       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="ects1" ng-model="data.ects" placeholder="ECTS"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="ectsius1" ng-model="data.ius_ects" placeholder="IUS ECTS"></label> </div>
       </div>

       <div class="row">
         <div class="col-md-12"> <label for="">2. </label> </div>
       </div>


       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursecode2" ng-model="data.code2"  placeholder="Course code"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursecodeius2" ng-model="data.ius_code2" placeholder="IUS Course code"></label> </div>
       </div>

       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursename2" ng-model="data.coursename2" placeholder="Course name"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="coursenameius2" ng-model="data.ius_coursename2" placeholder="IUS Course name"></label> </div>
       </div>

       <div class="row">
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="ects2" ng-model="data.ects2" placeholder="ECTS"></label> </div>
         <div class="col-md-6"> <label for=""><input type="text" class="form-control" id="ectsius2" ng-model="data.ius_ects2" placeholder="IUS ECTS"></label> </div>
       </div>

       <br>

       <div class="row">
         <div class="col-md-4"> <label for="">Date: </label> {{date | date:'yyyy-MM-dd'}}</div>
       </div>
     </div>

     <button type="submit" class="btn btn-primary btn-block btn-large" >Submit</button>

</form>
