
<form class="appeal-form" name="form" ng-submit="sendappeal()" role="form" c>
    <div class="special-padding">
     <a href="http://www.ius.edu.ba"><img src="images/student_appeals1.jpg" style='height: 100%; width: 100%; object-fit: contain'/></a>
   </div>
     <div class="form-group">
       <label for="AppealExplanation"> Request and reasons for appealing for stated issue: <hr/></label>
       <textarea class="form-control" rows="15" id="AppealExplanation" ng-model="text" required></textarea>
     </div>

     <button type="submit" class="btn btn-primary btn-block btn-large" >Submit</button>

</form>
